.my-todo-list {
    padding: 20px;
    width: 400px;
    margin: 20px auto;
    .header {
        margin-bottom: 20px;
        .input {
            width: 100%;
        }
    }
}

.list-group-item {
    display: flex;
    align-items: center;
    .icon {
        margin-left: auto;
        ;
    }
    .input {
        margin-right: 20px;
        ;
    }
    &.checked {
        text-decoration: line-through;
    }
}