.my-todo-list {
    padding: 20px;
    width: 400px;
    margin: 20px auto;
    .header {
        margin-bottom: 20px;
        .input {
            width: 100%;
        }
    }
}

.list-group {
    .input {
        margin-right: 10px;
        ;
    }
}